body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #eee;
}

.ui{
    display: flex;
}

.ui > div {
    margin: 0 10px;
}

.ui .controls input {
    vertical-align: middle;
}

#circle1, #circle2 {
    cursor: pointer;
}

svg {
    background: #ddd;
}