* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    width: 300px;
    margin: 100px auto;
}

.pricing {
    padding: 10px;
    border: solid 2px indigo;
}

.pricing > * {
    margin: 10px;
}
.header {
    font-size: 30px;
    background-color: indigo;
    color: white;
}
button {
    border-radius: 15px;
    padding: 4px;
}

.price {
    font-size: 25px;
}

