.grid-container {
    display: grid;
    grid-template: 
    "header header header"
    "quotes quotes sidebar";
}

.grid-item {
    background-color: #fbf4f0;
    padding: 5px;
}

.header {
    grid-area: header;
    text-align: center;
}

.quotes {
    grid-area: quotes;
}

.sidebar {
    grid-area: sidebar;
}