.controls button[data-state="subtitles"] {
    height: 85%;
    text-indent: 0;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
    background: #000;
    border-radius: 2px;
}

/*subtitle menu css*/

.subtitles-menu {
    display: none;
    position: absolute;
    bottom: 14.8%;
    right: 20px;
    background: #eee;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    padding: 10px;
}

.subtitles-menu li {
    padding: 0;
    text-align: center;
}

.subtitles-menu li button {
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    width: 90%;
    padding: 2px 5px;
    border-radius: 2px;
}