.mail {
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;
}

.unread {
    background-color: purple;
    color: white;
    font-weight: bold;
}

.spam {
    color: coral;
    font-style: italic;
}