body {
    text-align: center;
}

.item {
    text-align: right;
    border: 1px solid brown;
    margin: 10px;
}

.itemName, .quantity, button {
    font-size: 20px;
    margin: 5px;
}

h2,#checkout{
    background-color: brown;
    color: white;
    padding: 10px;
}