


 .trafficLight {
     background-color: #777777;
     height: 160px;
     padding: 10px;
 }


 div {
     margin-bottom: 5px;
     width: 50px;
     height: 50px;
     border-radius: 25px;
 }

 .red {
     background-color: #ff0000;
 }

 .yellow {
     background-color: #ffff00;
 }

.green {
    background-color: #00ff00;
}