
/* combining multiple classes*/
.item {
    color: purple;
    font-size: 15px;
    padding: 5px;
}

.wishlist {
    border: 2px ridge plum;
}

/* grouping selectors */
h1, h2, h3 {
border-bottom: 2px solid maroon;
}

h1 {
    background-color: lightSalmon;
}